# Monster Browser build dependencies
dwt*

# Monster Browser runtime dependencies
qstat.exe
*.mmdb
libcurl.dll
libcurl32.dll
libcurl64.dll
maxminddb32.dll
maxminddb64.dll

# Files and directories created by build tools, etc
.dub
.vs
.vscode
docs
Debug
dub.selections.json
MonsterBrowser
MonsterBrowser.exe
MonsterBrowser.pdb
MonsterBrowser.map
MonsterBrowser.sln
monster-browser-test-*
*.suo
revision.txt
unittest.ini

# Monster Browser configuration and data files
games.ini
games-default.ini
settings.ini
LOG.TXT
CONSOLE.OUT
*.extra
*.xml
